
/*menu*/
.custom-toggler.navbar-toggler {
    border-color: #256450;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(37, 100, 80, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.logoSite{
    width: 75px;
    height: 75px;
}
nav *,h2{
    font-family: 'Bungee', cursive;
    color:#256450;
}
.navbar-custom .navbar-nav .nav-link{
    color:#256450;
}
.navbar-custom .navbar-nav .nav-link:hover{
    color:#0c211b;
}
.navbar-custom {
    background-color:#ade1d0;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #ade1d0;
}
.dropdown-menu > li > a:hover {
    background-color: red;
    background-image: none;
}


/* formulario cliente */
.container-form{
    font-family: 'Roboto', sans-serif;
    color: #256450;
    font-size: 18px;
    margin-top: 30px;
    padding: 30px;
    background-color: #ade1d0;
    border: 2px solid #256450;
}
.container-titulo{
    margin: 30px;
    border: 2px solid #256450;
}

.container-titulo > h2{
    padding-top: 5px;
    text-align: center;
}



/* exibir clientes */
.container-tbl, .container-busca{
    padding: 20px;
    border :2px solid #256450;
    margin: 30px;
}

.container-tbl th{
    text-align: center;
    font-family: 'Bungee', cursive;
    color:#256450;
}
.container-tbl td{
    text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ade1d0;
}


.carrinho-img {
    width: 30px;
    height: 30px;
}

.card-veiculo{
    margin-bottom: 20px;
}

@media screen and (min-width: 720px) {
    .card-login{
        width: 500px;
        margin: 0 auto;
    }
 }
.img-carro{
    border: 2px red solid;
    width: 440px;
    height: 330px;
}

.pag-dados{
    border: #256450 2px solid;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}
.valorTotal{
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
     margin : 10px;
     font-family: 'Bungee', cursive;
     color:#256450;
}
 .botoes-finalizar{
    display: flex;
    justify-content: right;
    align-items: right;
 }
 
 /* TODOS OS BOTOES */
 *.btn{
    font-family: 'Bungee', cursive;
    margin: 5px;
 }

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    border: #256450 2px solid;
    border-radius: 10px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.finalizado svg{
    height: 50px;
    width: 50px;
}